---
layout: page
title: Giornata 4
permalink: /2022_2023/giornate/4
---

<a href=".">Riepilogo</a>
{% for item in site.data.stagione_2022_2023.giornata_4%}
  || <a href="partite/{{ item.id }}">
    {{ item.home }} ({{ item.score }}) {{ item.away }}
  </a>
{% endfor %}<h1>Risultati</h1>
<table>
  {% for item in site.data.stagione_2022_2023.giornata_4 %}
    <tr>
      <td>{{ item.home }}</td>
      <td>{{ item.score }}</td>
      <td>{{ item.away }}</td>
    <tr>
  {% endfor %}
</table>
<h1>Classifica</h1>
  <table>
    <tr>
      <th>﻿Pos</th>      <th>Squadra</th>      <th></th>      <th>G</th>      <th>V</th>      <th>N</th>      <th>P</th>      <th>Gf</th>      <th>Gs</th>      <th>Dr</th>      <th>Pt.</th>      <th>Pt. Totali</th>    </tr>
    <tr>
      <td>1</td>
      <td>Reggisenal</td>
      <td></td>
      <td>4</td>
      <td>3</td>
      <td>0</td>
      <td>1</td>
      <td>5</td>
      <td>2</td>
      <td>3</td>
      <td>9</td>
      <td>277</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Patetico Mineiro</td>
      <td></td>
      <td>4</td>
      <td>3</td>
      <td>0</td>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>9</td>
      <td>276</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Real Pollo</td>
      <td></td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>10</td>
      <td>5</td>
      <td>5</td>
      <td>7</td>
      <td>314</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Apoel Kan 1893</td>
      <td></td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>6</td>
      <td>5</td>
      <td>1</td>
      <td>7</td>
      <td>282,5</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Team Barco FC</td>
      <td></td>
      <td>4</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>7</td>
      <td>5</td>
      <td>2</td>
      <td>5</td>
      <td>285,5</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Pompy FC</td>
      <td></td>
      <td>4</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>5</td>
      <td>258</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Paris Saint Germano</td>
      <td></td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>4</td>
      <td>6</td>
      <td>-2</td>
      <td>4</td>
      <td>279</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Godopolisportiva Antonio Ricci</td>
      <td></td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>4</td>
      <td>264,5</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Ire Framba United</td>
      <td></td>
      <td>4</td>
      <td>0</td>
      <td>3</td>
      <td>1</td>
      <td>2</td>
      <td>4</td>
      <td>-2</td>
      <td>3</td>
      <td>271</td>
    </tr>
    <tr>
      <td>10</td>
      <td>MedusaTeam WFC - IL BLOCCO - Atalantus</td>
      <td></td>
      <td>4</td>
      <td>0</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>11</td>
      <td>-9</td>
      <td>1</td>
      <td>263</td>
    </tr>
  </table>
