---
layout: page
title: {{ title }}
permalink: {{ permalink }}
---

<table>
    <tr>
        <th>Ruolo</th>
        <th>Calciatore</th>
        <th>Squadra</th>
        <th>Costo</th>
    </tr>
    {% for calciatore in calciatori %}
    <tr>
        <td>
            <span style="display: block">
                <img src="{{ site.baseurl }}/assets/img/ruolo_{{ calciatore.Role|lower }}.png" alt="{{ calciatore.Role }}">
            </span>
        </td>
        <td> {{ calciatore.Name }} </td>
        <td> {{ calciatore.Team }} </td>
        <td> {{ calciatore.Cost }} </td>
    </tr>
    {% endfor %}
</table>